In [12]:
import numpy as np  # whole numpy lib is available, prepend 'np.'
from numpy import average, std
from numpy.random import random, randint, normal, shuffle,uniform
import scipy
from scipy.stats import ttest_ind
import seaborn as sns
import fnmatch
import os  # handy system and path functions
import sys  # to get file system encoding
import csv
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd  
import matplotlib
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.7.1 (default, Dec 14 2018, 19:28:38)
[GCC 7.3.0]
Pandas version 0.23.4
Matplotlib version 3.0.2

In [13]:
subjects9=['111','112','113','114','115','116','117','118','119'] #alpha singleton pilot with colors+shapes randomized every trial
all_subjects=[subjects9]

In [14]:
#path to .csv result files with our data 
where_files = r'/home/dcellier/RDSS/AlphaStudy_Data/behavData/'

In [15]:
files=os.listdir(where_files)

In [16]:
#files

In [17]:
all_subs_dfs=[] # a list of dataframes
all_subs_data=pd.DataFrame()
for sub_list in all_subjects:
    for sub_name in sub_list:
        for f_name in files:
            pattern='%s_alpha_singleton_pilot_01_*_*_*_*.csv' %sub_name
            if fnmatch.fnmatch(f_name,pattern):
                print(f_name)
                thisSub_data=pd.read_csv(where_files+f_name) #import subject data if filename matches pattern
                thisSub_data['subject']=sub_name
                all_subs_dfs.append(thisSub_data)
                all_subs_data=all_subs_data.append(thisSub_data)

111_alpha_singleton_pilot_01_2019_May_28_1230.csv
112_alpha_singleton_pilot_01_2019_May_31_1458.csv
113_alpha_singleton_pilot_01_2019_May_30_1010.csv
114_alpha_singleton_pilot_01_2019_May_30_1510.csv
115_alpha_singleton_pilot_01_2019_Jun_07_1119.csv
116_alpha_singleton_pilot_01_2019_Jun_04_1231.csv
117_alpha_singleton_pilot_01_2019_Jun_05_1006.csv
118_alpha_singleton_pilot_01_2019_Jun_06_1405.csv
119_alpha_singleton_pilot_01_2019_Jun_06_1540.csv

In [18]:
all_subs_data

,block,trialNum,trial_type,dis_PresentorAbsent,corrResp,subResp,trialCorr?,RT,"stim_loc(T,D)",ITI,"Tar,Dis,Other",trial_trigs,triggers,subject
0,0,0,dis,Present,up,up,1.0,1.299657,"('5', '3')",1.9,"('blue_diamond', 'red_circle', 'blue_circle')",None,NaN,111
1,0,1,dis,Present,left,left,1.0,1.048731,"('1', '7')",2.0,"('red_diamond', 'yellow_circle', 'red_circle')",None,NaN,111
2,0,2,dis,Present,up,up,1.0,0.698886,"('11', '5')",2.2,"('yellow_diamond', 'blue_circle', 'yellow_circ...",None,NaN,111
3,0,3,dis,Present,up,left,0.0,0.865413,"('3', '9')",2.1,"('yellow_circle', 'red_diamond', 'yellow_diamo...",None,NaN,111
4,0,4,neut,Present,left,left,1.0,0.815477,"('9', '3')",2.5,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,111
5,0,5,neut,Present,left,left,1.0,0.882132,"('11', '1')",2.6,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,111
6,0,6,dis,Present,left,left,1.0,1.265370,"('3', '7')",2.4,"('blue_circle', 'yellow_diamond', 'blue_diamond')",None,NaN,111
7,0,7,dis,Present,left,None,NaN,NaN,"('9', '5')",1.6,"('red_circle', 'blue_diamond', 'red_diamond')",None,NaN,111
8,0,8,neut,Absent,left,left,1.0,1.598578,"('1', 'noDis')",2.4,"('red_circle', 'noDis', 'red_diamond')",None,NaN,111
9,0,9,dis,Present,up,up,1.0,0.898780,"('5', '9')",2.5,"('yellow_diamond', 'red_circle', 'yellow_circle')",None,NaN,111
10,0,10,neut,Absent,left,left,1.0,0.948796,"('3', 'noDis')",1.8,"('blue_diamond', 'noDis', 'blue_circle')",None,NaN,111
11,0,11,neut,Absent,left,left,1.0,1.331921,"('1', 'noDis')",2.0,"('red_circle', 'noDis', 'red_diamond')",None,NaN,111
12,0,12,neut,Present,up,up,1.0,1.248626,"('3', '11')",1.4,"('red_circle', 'yellow_diamond', 'red_diamond')",None,NaN,111
13,0,13,neut,Absent,left,left,1.0,0.765493,"('9', 'noDis')",1.7,"('blue_diamond', 'noDis', 'blue_circle')",None,NaN,111
14,0,14,dis,Present,up,left,0.0,1.082076,"('3', '9')",1.6,"('blue_diamond', 'yellow_circle', 'blue_circle')",None,NaN,111
15,0,15,dis,Present,up,up,1.0,1.265340,"('7', '9')",1.5,"('yellow_diamond', 'red_circle', 'yellow_circle')",None,NaN,111
16,0,16,neut,Absent,up,up,1.0,1.232051,"('11', 'noDis')",2.0,"('red_circle', 'noDis', 'red_diamond')",None,NaN,111
17,0,17,dis,Present,left,up,0.0,1.149694,"('11', '9')",2.4,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,111
18,0,18,dis,Present,up,up,1.0,0.882090,"('7', '1')",2.1,"('red_diamond', 'yellow_circle', 'red_circle')",None,NaN,111
19,0,19,dis,Present,up,left,0.0,0.915425,"('9', '11')",1.8,"('blue_circle', 'red_diamond', 'blue_diamond')",None,NaN,111
20,0,20,dis,Present,up,up,1.0,1.115415,"('1', '7')",1.8,"('yellow_diamond', 'blue_circle', 'yellow_circ...",None,NaN,111
21,0,21,neut,Absent,up,up,1.0,0.998806,"('5', 'noDis')",1.8,"('yellow_circle', 'noDis', 'yellow_diamond')",None,NaN,111
22,0,22,neut,Present,left,left,1.0,0.915400,"('5', '7')",2.6,"('blue_diamond', 'red_circle', 'blue_circle')",None,NaN,111
23,0,23,neut,Present,up,None,NaN,NaN,"('7', '11')",2.1,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,111
24,0,24,neut,Present,up,up,1.0,1.365262,"('5', '3')",1.7,"('red_diamond', 'yellow_circle', 'red_circle')",None,NaN,111
25,0,25,neut,Present,up,up,1.0,0.998747,"('5', '1')",2.6,"('yellow_diamond', 'blue_circle', 'yellow_circ...",None,NaN,111
26,0,26,neut,Absent,up,up,1.0,0.615638,"('11', 'noDis')",1.9,"('yellow_diamond', 'noDis', 'yellow_circle')",None,NaN,111
27,0,27,neut,Absent,left,left,1.0,1.198730,"('9', 'noDis')",2.6,"('yellow_circle', 'noDis', 'yellow_diamond')",None,NaN,111
28,0,28,neut,Absent,left,left,1.0,0.715523,"('3', 'noDis')",2.2,"('blue_diamond', 'noDis', 'blue_circle')",None,NaN,111
29,0,29,neut,Present,up,up,1.0,0.532258,"('7', '5')",2.2,"('red_circle', 'yellow_diamond', 'red_diamond')",None,NaN,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,7,66,neut,Absent,left,left,1.0,1.048812,"('11', 'noDis')",2.6,"('blue_diamond', 'noDis', 'blue_circle')",None,NaN,119
739,7,67,neut,Present,up,up,1.0,1.015413,"('1', '3')",2.6,"('blue_diamond', 'red_circle', 'blue_circle')",None,NaN,119
740,7,68,neut,Absent,up,up,1.0,0.815520,"('1', 'noDis')",1.5,"('red_diamond', 'noDis', 'red_circle')",None,NaN,119
741,7,69,neut,Present,up,up,1.0,0.765473,"('5', '7')",1.7,"('blue_diamond', 'yellow_circle', 'blue_circle')",None,NaN,119
742,7,70,neut,Present,up,up,1.0,0.565570,"('5', '1')",2.4,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,119
743,7,71,dis,Present,up,up,1.0,1.581742,"('1', '7')",2.0,"('red_circle', 'blue_diamond', 'red_diamond')",None,NaN,119
744,7,72,neut,Present,left,left,1.0,1.898464,"('7', '9')",1.6,"('red_circle', 'yellow_diamond', 'red_diamond')",None,NaN,119
745,7,73,dis,Present,up,up,1.0,0.782193,"('7', '5')",2.4,"('red_circle', 'yellow_diamond', 'red_diamond')",None,NaN,119
746,7,74,neut,Present,up,up,1.0,1.115420,"('1', '3')",2.1,"('yellow_circle', 'red_diamond', 'yellow_diamo...",None,NaN,119
747,7,75,dis,Present,up,up,1.0,0.948831,"('1', '11')",1.5,"('blue_circle', 'red_diamond', 'blue_diamond')",None,NaN,119
748,7,76,dis,Present,left,left,1.0,1.931820,"('3', '1')",1.4,"('blue_diamond', 'red_circle', 'blue_circle')",None,NaN,119
749,7,77,neut,Absent,up,up,1.0,0.682276,"('3', 'noDis')",2.3,"('yellow_diamond', 'noDis', 'yellow_circle')",None,NaN,119
750,7,78,neut,Present,up,up,1.0,1.082079,"('3', '9')",2.4,"('blue_diamond', 'yellow_circle', 'blue_circle')",None,NaN,119
751,7,79,dis,Present,left,left,1.0,1.331953,"('5', '3')",1.8,"('blue_circle', 'red_diamond', 'blue_diamond')",None,NaN,119
752,7,80,dis,Present,up,up,1.0,0.782184,"('11', '3')",1.9,"('blue_circle', 'red_diamond', 'blue_diamond')",None,NaN,119
753,7,81,dis,Present,left,left,1.0,1.015417,"('11', '7')",2.1,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,119
754,7,82,neut,Present,up,up,1.0,0.632194,"('3', '5')",1.4,"('yellow_diamond', 'blue_circle', 'yellow_circ...",None,NaN,119
755,7,83,dis,Present,left,left,1.0,0.915518,"('5', '7')",1.7,"('yellow_diamond', 'blue_circle', 'yellow_circ...",None,NaN,119
756,7,84,dis,Present,up,up,1.0,0.965456,"('3', '5')",2.3,"('red_circle', 'yellow_diamond', 'red_diamond')",None,NaN,119
757,7,85,neut,Absent,up,up,1.0,0.632295,"('3', 'noDis')",2.4,"('red_circle', 'noDis', 'red_diamond')",None,NaN,119
758,7,86,neut,Present,left,left,1.0,1.931798,"('11', '7')",2.1,"('red_diamond', 'yellow_circle', 'red_circle')",None,NaN,119
759,7,87,dis,Present,up,up,1.0,1.165364,"('7', '1')",2.4,"('yellow_circle', 'blue_diamond', 'yellow_diam...",None,NaN,119
760,7,88,dis,Present,left,left,1.0,1.032095,"('5', '1')",2.6,"('blue_circle', 'red_diamond', 'blue_diamond')",None,NaN,119
761,7,89,neut,Present,left,left,1.0,0.698855,"('5', '1')",1.8,"('yellow_diamond', 'red_circle', 'yellow_circle')",None,NaN,119
762,7,90,neut,Absent,up,up,1.0,1.032128,"('1', 'noDis')",2.1,"('red_circle', 'noDis', 'red_diamond')",None,NaN,119
763,7,91,neut,Present,left,left,1.0,1.781796,"('1', '9')",2.0,"('red_circle', 'yellow_diamond', 'red_diamond')",None,NaN,119
764,7,92,neut,Present,up,up,1.0,0.732199,"('3', '9')",2.4,"('yellow_diamond', 'red_circle', 'yellow_circle')",None,NaN,119
765,7,93,dis,Present,up,up,1.0,0.865492,"('5', '9')",2.1,"('blue_diamond', 'red_circle', 'blue_circle')",None,NaN,119
766,7,94,dis,Present,left,left,1.0,0.682249,"('1', '7')",1.4,"('yellow_diamond', 'blue_circle', 'yellow_circ...",None,NaN,119
767,7,95,dis,Present,left,left,1.0,0.982113,"('7', '3')",2.1,"('yellow_circle', 'blue_diamond', 'yellow_diam...",None,NaN,119

In [9]:
#sub111
all_subs_dfs[0].groupby(['trial_type','dis_PresentorAbsent']).mean() #fewer trials--only did four blocks

                                block   trialNum  trialCorr?        RT  \
trial_type dis_PresentorAbsent
dis        Present                1.5  46.588542    0.848168  0.938764
neut       Absent                 1.5  47.218750    0.797872  0.943755
           Present                1.5  49.604167    0.884211  0.967063

                                     ITI  triggers
trial_type dis_PresentorAbsent
dis        Present              2.010417       NaN
neut       Absent               2.035417       NaN
           Present              2.001042       NaN

In [36]:
#sub112
all_subs_dfs[1].groupby(['trial_type','dis_PresentorAbsent'])['RT','trialCorr?'].mean()

                                      RT  trialCorr?
trial_type dis_PresentorAbsent
dis        Present              1.282671    0.989189
neut       Absent               1.252548    1.000000
           Present              1.245763    0.994505

In [28]:
#sub113
all_subs_dfs[2].groupby(['trial_type','dis_PresentorAbsent'])['RT','trialCorr?'].mean()

                                      RT  trialCorr?
trial_type dis_PresentorAbsent
dis        Present              0.791953    0.966057
neut       Absent               0.685260    0.994792
           Present              0.845170    0.984375

In [31]:
#sub114
all_subs_dfs[3].groupby(['trial_type','dis_PresentorAbsent'])['RT','trialCorr?'].mean()

                                      RT  trialCorr?
trial_type dis_PresentorAbsent
dis        Present              1.251501    0.994460
neut       Absent               1.174455    0.994565
           Present              1.279859    0.988889

In [43]:
a=all_subs_data.copy()

In [47]:
a.block[0]=4

/data/backed_up/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
all_subs_data.groupby(['trial_type','dis_PresentorAbsent'])['RT','trialCorr?'].mean()

                                      RT  trialCorr?
trial_type dis_PresentorAbsent
dis        Present              1.011338    0.958489
neut       Absent               0.930287    0.968343
           Present              1.019202    0.965668

In [49]:
a

,block,trialNum,trial_type,dis_PresentorAbsent,corrResp,subResp,trialCorr?,RT,"stim_loc(T,D)",ITI,"Tar,Dis,Other",trial_trigs,triggers,subject
0,4,0,dis,Present,up,up,1.0,1.299657,"('5', '3')",1.9,"('blue_diamond', 'red_circle', 'blue_circle')",None,NaN,111
1,0,1,dis,Present,left,left,1.0,1.048731,"('1', '7')",2.0,"('red_diamond', 'yellow_circle', 'red_circle')",None,NaN,111
2,0,2,dis,Present,up,up,1.0,0.698886,"('11', '5')",2.2,"('yellow_diamond', 'blue_circle', 'yellow_circ...",None,NaN,111
3,0,3,dis,Present,up,left,0.0,0.865413,"('3', '9')",2.1,"('yellow_circle', 'red_diamond', 'yellow_diamo...",None,NaN,111
4,0,4,neut,Present,left,left,1.0,0.815477,"('9', '3')",2.5,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,111
5,0,5,neut,Present,left,left,1.0,0.882132,"('11', '1')",2.6,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,111
6,0,6,dis,Present,left,left,1.0,1.265370,"('3', '7')",2.4,"('blue_circle', 'yellow_diamond', 'blue_diamond')",None,NaN,111
7,0,7,dis,Present,left,None,NaN,NaN,"('9', '5')",1.6,"('red_circle', 'blue_diamond', 'red_diamond')",None,NaN,111
8,0,8,neut,Absent,left,left,1.0,1.598578,"('1', 'noDis')",2.4,"('red_circle', 'noDis', 'red_diamond')",None,NaN,111
9,0,9,dis,Present,up,up,1.0,0.898780,"('5', '9')",2.5,"('yellow_diamond', 'red_circle', 'yellow_circle')",None,NaN,111
10,0,10,neut,Absent,left,left,1.0,0.948796,"('3', 'noDis')",1.8,"('blue_diamond', 'noDis', 'blue_circle')",None,NaN,111
11,0,11,neut,Absent,left,left,1.0,1.331921,"('1', 'noDis')",2.0,"('red_circle', 'noDis', 'red_diamond')",None,NaN,111
12,0,12,neut,Present,up,up,1.0,1.248626,"('3', '11')",1.4,"('red_circle', 'yellow_diamond', 'red_diamond')",None,NaN,111
13,0,13,neut,Absent,left,left,1.0,0.765493,"('9', 'noDis')",1.7,"('blue_diamond', 'noDis', 'blue_circle')",None,NaN,111
14,0,14,dis,Present,up,left,0.0,1.082076,"('3', '9')",1.6,"('blue_diamond', 'yellow_circle', 'blue_circle')",None,NaN,111
15,0,15,dis,Present,up,up,1.0,1.265340,"('7', '9')",1.5,"('yellow_diamond', 'red_circle', 'yellow_circle')",None,NaN,111
16,0,16,neut,Absent,up,up,1.0,1.232051,"('11', 'noDis')",2.0,"('red_circle', 'noDis', 'red_diamond')",None,NaN,111
17,0,17,dis,Present,left,up,0.0,1.149694,"('11', '9')",2.4,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,111
18,0,18,dis,Present,up,up,1.0,0.882090,"('7', '1')",2.1,"('red_diamond', 'yellow_circle', 'red_circle')",None,NaN,111
19,0,19,dis,Present,up,left,0.0,0.915425,"('9', '11')",1.8,"('blue_circle', 'red_diamond', 'blue_diamond')",None,NaN,111
20,0,20,dis,Present,up,up,1.0,1.115415,"('1', '7')",1.8,"('yellow_diamond', 'blue_circle', 'yellow_circ...",None,NaN,111
21,0,21,neut,Absent,up,up,1.0,0.998806,"('5', 'noDis')",1.8,"('yellow_circle', 'noDis', 'yellow_diamond')",None,NaN,111
22,0,22,neut,Present,left,left,1.0,0.915400,"('5', '7')",2.6,"('blue_diamond', 'red_circle', 'blue_circle')",None,NaN,111
23,0,23,neut,Present,up,None,NaN,NaN,"('7', '11')",2.1,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,111
24,0,24,neut,Present,up,up,1.0,1.365262,"('5', '3')",1.7,"('red_diamond', 'yellow_circle', 'red_circle')",None,NaN,111
25,0,25,neut,Present,up,up,1.0,0.998747,"('5', '1')",2.6,"('yellow_diamond', 'blue_circle', 'yellow_circ...",None,NaN,111
26,0,26,neut,Absent,up,up,1.0,0.615638,"('11', 'noDis')",1.9,"('yellow_diamond', 'noDis', 'yellow_circle')",None,NaN,111
27,0,27,neut,Absent,left,left,1.0,1.198730,"('9', 'noDis')",2.6,"('yellow_circle', 'noDis', 'yellow_diamond')",None,NaN,111
28,0,28,neut,Absent,left,left,1.0,0.715523,"('3', 'noDis')",2.2,"('blue_diamond', 'noDis', 'blue_circle')",None,NaN,111
29,0,29,neut,Present,up,up,1.0,0.532258,"('7', '5')",2.2,"('red_circle', 'yellow_diamond', 'red_diamond')",None,NaN,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,7,66,dis,Present,up,up,1.0,0.982110,"('7', '11')",2.0,"('blue_circle', 'yellow_diamond', 'blue_diamond')",None,NaN,114
739,7,67,dis,Present,up,up,1.0,0.948809,"('7', '5')",1.5,"('blue_circle', 'yellow_diamond', 'blue_diamond')",None,NaN,114
740,7,68,neut,Present,up,up,1.0,0.948784,"('9', '5')",1.4,"('yellow_circle', 'blue_diamond', 'yellow_diam...",None,NaN,114
741,7,69,dis,Present,up,up,1.0,1.415301,"('11', '9')",1.9,"('red_circle', 'blue_diamond', 'red_diamond')",None,NaN,114
742,7,70,neut,Absent,up,up,1.0,0.898828,"('7', 'noDis')",1.8,"('blue_circle', 'noDis', 'blue_diamond')",None,NaN,114
743,7,71,neut,Absent,left,left,1.0,1.065263,"('11', 'noDis')",2.1,"('yellow_diamond', 'noDis', 'yellow_circle')",None,NaN,114
744,7,72,neut,Present,up,up,1.0,1.032111,"('5', '3')",2.0,"('yellow_circle', 'red_diamond', 'yellow_diamo...",None,NaN,114
745,7,73,dis,Present,up,up,1.0,1.132081,"('11', '3')",1.7,"('red_diamond', 'yellow_circle', 'red_circle')",None,NaN,114
746,7,74,neut,Present,left,left,1.0,1.181986,"('7', '9')",2.6,"('yellow_circle', 'red_diamond', 'yellow_diamo...",None,NaN,114
747,7,75,neut,Absent,left,left,1.0,0.915513,"('3', 'noDis')",2.3,"('red_diamond', 'noDis', 'red_circle')",None,NaN,114
748,7,76,neut,Present,left,left,1.0,0.965474,"('11', '9')",1.9,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,114
749,7,77,neut,Absent,left,left,1.0,0.982192,"('7', 'noDis')",1.5,"('red_diamond', 'noDis', 'red_circle')",None,NaN,114
750,7,78,neut,Present,left,left,1.0,0.815512,"('11', '7')",1.5,"('blue_diamond', 'red_circle', 'blue_circle')",None,NaN,114
751,7,79,dis,Present,left,left,1.0,1.798521,"('5', '1')",1.7,"('blue_circle', 'red_diamond', 'blue_diamond')",None,NaN,114
752,7,80,dis,Present,up,up,1.0,1.382010,"('5', '1')",1.9,"('yellow_diamond', 'red_circle', 'yellow_circle')",None,NaN,114
753,7,81,dis,Present,up,up,1.0,0.915481,"('11', '9')",2.2,"('blue_diamond', 'red_circle', 'blue_circle')",None,NaN,114
754,7,82,dis,Present,left,None,NaN,NaN,"('5', '7')",2.1,"('yellow_circle', 'blue_diamond', 'yellow_diam...",None,NaN,114
755,7,83,neut,Present,left,left,1.0,1.015466,"('5', '7')",1.6,"('red_circle', 'yellow_diamond', 'red_diamond')",None,NaN,114
756,7,84,neut,Absent,left,left,1.0,1.648347,"('9', 'noDis')",1.8,"('red_diamond', 'noDis', 'red_circle')",None,NaN,114
757,7,85,neut,Absent,up,up,1.0,1.365380,"('9', 'noDis')",1.4,"('blue_circle', 'noDis', 'blue_diamond')",None,NaN,114
758,7,86,dis,Present,up,up,1.0,1.615258,"('9', '11')",2.1,"('red_diamond', 'yellow_circle', 'red_circle')",None,NaN,114
759,7,87,neut,Present,up,up,1.0,1.149781,"('7', '11')",2.6,"('blue_circle', 'yellow_diamond', 'blue_diamond')",None,NaN,114
760,7,88,dis,Present,up,up,1.0,0.948820,"('3', '1')",2.3,"('yellow_diamond', 'red_circle', 'yellow_circle')",None,NaN,114
761,7,89,dis,Present,up,up,1.0,1.332002,"('7', '5')",1.4,"('yellow_diamond', 'red_circle', 'yellow_circle')",None,NaN,114
762,7,90,neut,Absent,left,left,1.0,1.132124,"('5', 'noDis')",2.3,"('blue_diamond', 'noDis', 'blue_circle')",None,NaN,114
763,7,91,dis,Present,up,up,1.0,0.865513,"('11', '9')",1.7,"('yellow_diamond', 'blue_circle', 'yellow_circ...",None,NaN,114
764,7,92,neut,Absent,up,up,1.0,1.798588,"('3', 'noDis')",2.5,"('blue_circle', 'noDis', 'blue_diamond')",None,NaN,114
765,7,93,neut,Absent,up,up,1.0,0.715593,"('11', 'noDis')",1.8,"('yellow_diamond', 'noDis', 'yellow_circle')",None,NaN,114
766,7,94,dis,Present,left,left,1.0,1.232065,"('11', '9')",2.6,"('red_diamond', 'blue_circle', 'red_circle')",None,NaN,114
767,7,95,neut,Absent,left,left,1.0,0.965519,"('1', 'noDis')",2.5,"('blue_circle', 'noDis', 'blue_diamond')",None,NaN,114